@media all and (max-width: 1024px) {
    .box1 {
        width: auto;
        background-size: cover;
        font-size: 0.5em;
        background-color: white;
        background-image: url(img/hello.gif);
        position: relative;
    }
    .foto img {
        margin-left: 50%;
       
        position: absolute;
    }
    h1 {
        visibility: hidden;
    }
    p {
        position: relative;
        color: gainsboro;
        text-align: center;
        font-size: 16px;
    }
    .napis p span {
        font-size: 23px;
    }
}

.box6 img {
   width: 50vw;
    left: 10%;
    right: 10%;
}

.last p {
    font-size: 1em;
    margin-bottom: 5px;
}

span {
    color: fuchsia;
}


